@model CSharp_Crud_Operations.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>

@Model.TeacherFname @Model.TeacherLname

@Model.TeacherEmployeeNumber
@Model.TeacherSalary
@Model.TeacherHireDate

